@font-face {
    font-family: 'Hack';
    src: url('lib/ttf/Hack-Regular.ttf');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: "Hack", "Lucida Console";
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h3 {
    font-size: 16px;
}

#root,
#__next {
    isolation: isolate;
}

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #666;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background: linear-gradient(to right, #d3d3d3, #67a84366);
    cursor: col-resize;
}

.ui-container {
    display: flex;
    height: 100vh;
    background-color: gray;
}

.threads-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b1b7bf;
    border-right: solid #666;
    border-width: 0.5px;
    padding: 0.5rem;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sidebar-content {
    width: 100%;
    height: 100%;
    overflow: scroll;
    scrollbar-width: thin;
}

.sidebar-icons-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.menu-icon {
    border-radius: 5px;
    transition 0.3s all;
}

.menu-icon:hover {
    background-color: #9a9fa6;
}

.search-icon {
    margin-left: 1rem;
    border-radius: 5px;
    transition: 0.3s all;
}

.search-icon:hover {
    background-color: #9a9fa6;
}

.new-thread-icon {
    border-radius: 5px;
    transition: 0.3s all;
}

.new-thread-icon:hover {
    background-color: #9a9fa6;
}

.chat-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.chat-window {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    background-color: #b1c7ba;
    padding: 0.5rem;
}

.chat-title-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.thread-title {
    margin-left: 0.5rem;
}

.title-edit {
    width: 100%;
}

.messages-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: thin;
}

.chat-message {
    padding: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 5px;
    border-top: solid 0.75px #666;
    border-bottom: solid 0.75px #666;
    white-space: preserve;
}

.chat-message-model {
    margin-bottom: 0.5rem;
    font-size: 10px;
}

.from-user {
    background-color: #c0d0c7;
}

.from-model {
    background-color: #b2c1b8;

}

.input-container {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    background-color: #b1f7ba;
    border-top: solid #666;
    border-width: 0.5px;
    height: 100%;
    width: 100%;
}

.send-message-form {
    height: 100%;
    width: 100%;
}

.message-input {
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

.send-message-button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    opacity: 0.8;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    transition: 0.3s all;
}

.send-message-button:hover {
    background-color: 'green';
}

.thread-list-entry {
    padding: 0.5rem;
    margin-top: 0.25rem;
    border-top: solid 0.75px #666;
    border-bottom: solid 0.75px #666;
    transition: 0.3s all;
    border-radius: 5px;
}

.thread-list-entry:hover {
    background-color: #9a9fa6;
}

.thread-entry-title {}

.thread-entry-model {}

.thread-entry-message {
    font-size: 13px;
    margin-top: 0.5rem;
}

.dual-timestamps-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
}

.timestamp {
    font-size: 11px;
    color: #393939;
    width: 100%;
}

.start {
    color: #393939;
}

.end {
    color: #393939;
}

.tags-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.5rem;
}

.tag {
    font-size: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.25rem;
    background-color: gray;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: 0.15s all;
}

.tag:hover {
    border: 1px solid #b1c7ba;
}

.new-tag-editor {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.add-tag-input-row {
    display: flex;
}

.tag-value-input {
    width: 100%
}

.tag-color-input {}

.add-tag-button {
    margin-top: 0.25rem;
}

.config-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.key-input {
    margin-top: 0.5rem;
    width: 100%;
}

.keys-submit-button {
    margin-top: 0.5rem;
    width: 100%;
}

.search-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.search-input {
    margin-top: 0.5rem;
    width: 100%;
}

.search-submit-button {
    margin-top: 0.5rem;
    width: 100%;
}

.model-select {
    margin-left: auto;
}

.select-model-status {
    position: absolute;
    top: 3rem;
    right: 0.5rem;
    background-color: #e6f0f0;
    padding: 0.75rem;
    border-radius: 2rem;
}
