@font-face {
    font-family: 'Hack';
    src: url('lib/ttf/Hack-Regular.ttf');
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: "Hack", "Lucida Console";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

.ui-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    background-color: gray;
}

.threads-sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b1b7bf;
    border-right: solid;
    border-width: 1px;
    padding: 0.5rem;
}

.chat-container {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 7;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: #b1b7ba;
}

.chat-window {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    background-color: #b1c7ba;
    padding: 0.5rem;
}

.input-container {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    background-color: #b1f7ba;
    border-top: solid;
    border-width: 1px;
    height: 100%;
    width: 100%;
}

.send-message-form {
}

.message-input {
    height: 100%;
    width: 100%;
}

.send-message-button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    opacity: 0.8;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    transition: 0.3s all;
}

.send-message-button:hover {
    background-color: 'green';
}


.thread-list-entry {
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.25rem;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    transition: 0.3s all;
    border-radius: 15px;
}

.thread-list-entry:hover {
    background-color: #9a9fa6;
}

.thread-entry-title {
    
}

.thread-entry-model {
    margin-top: 0.5rem;
}

.thread-entry-message {
    margin-top: 0.5rem;
}

.dual-timestamps-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
}

.timestamp {
    font-size: 0.75rem;
}

.start {
    color: aqua;
}

.end {
    color: green;
}

.tags-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%; 
    margin-top: 0.5rem;
}

.tag {
    font-size: 0.75rem;
    padding: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-left: 0.5rem;
    background-color: gray;
    border-radius: 2rem;
}
