package templates

type SideBarMenuParams struct {
    OpenAIKey string `db:"openai_key" json:"openai_key"`
    GroqKey string `db:"groq_key" json:"groq_key"`
}

templ SideBarMenu(params SideBarMenuParams) {
        <form
            hx-put="/config"
            hx-target="this"
            hx-swap="beforeend"
            id="side-bar-menu"
            class="config-menu"
        >
            <label>OpenAI Key</label>
            <input type="password" name="openai-key" class="key-input" value={ params.OpenAIKey }></input>
            <label>Groq Key</label>
            <input type="password" name="groq-key" class="key-input" value={ params.GroqKey }></input>
            <button class="keys-submit-button">Save</button>
            <button
                hx-get="/config/done"
                hx-target="#side-bar-menu"
                hx-swap="outerHTML"
                hx-trigger="click"
                class="keys-done-button"
            >
                Done
            </button>
        </form>
}

templ SettingsUpdated() {
    <p class="update-alert" _="on load wait 2s remove me">Settings updated successfully!</p>
}

templ SearchMenu(tagParams []TagParams, models []string) {
    <div id="side-bar-menu">
        <form
            hx-post="/search"
            hx-target="#search-results"
            hx-swap="innerHTML"
            id="side-bar-menu"
            class="search-menu"
        >
            <div class="search-text-row">
                <label class="search-input-label">Search:</label>
                <input name="search-input" class="search-input"/>
            </div>

            <select class="search-filter" name="tag">
                <option value="any">All tags</option>
                for _, tag := range tagParams {
                    <option value={ tag.Id }> { tag.Value } </option>
                }
            </select>

            <select class="search-filter" name="model">
                <option value="any">All used models</option>
                for _, model := range models {
                    <option value={ model }> { model } </option>
                }
            </select>

            <button
                class="submit-search-button"
            >
                Search
            </button>
        </form>
        <div id="search-results"/>
    </div>
}
