package templates

type TagParams struct {
    Id string `db:"id" json:"id"`
    Value string `db:"value" json:"value"`
    ThreadId string `db:"thread_id" json:"thread_id"`
    Color string `db:"color" json:"color"`
}

templ NewTag(params TagParams) {
    <div id={ "tags-" + params.ThreadId } hx-oob-swap="beforeend">
        <p class={ "tag", tagStyle(params.Color) }> { params.Value } </p>
    </div>
    <div id="new-tag-editor" hx-swap-oob="delete"></div>
}

templ TagEditor(params TagParams) {
    <form
        id="new-tag-editor"
        class="new-tag-editor"
        hx-post={ "/thread/tag/" + params.Id }
        hx-target={ "#tags-" + params.Id }
        hx-swap="beforeend"
    >
        <div class="add-tag-input-row">
            <input
                class="tag-value-input"
                type="text"
                placeholder="Enter tag name..."
                name="value"
                value={ params.Id }
            ></input>
            <input
                class="tag-color-input"
                type="color"
                placeholder="Enter tag name..."
                name="color"
                value={ params.Color }
            ></input>
        </div>

        <div class="tag-editor-buttons">
            <button
                _="on click halt the event remove #new-tag-editor"
                id="cancel-button"
                class="cancel-tag-button"
            >
                Cancel
            </button>
            <button type="submit" id="send-button" class="add-tag-button">Submit</button>
        </div>
    </form>
}

templ NewTagEditor(threadId string, paramsList []TagParams) {
    <form
        id="new-tag-editor"
        class="new-tag-editor"
        hx-post={ "/thread/tag/" + threadId }
        hx-target={ "#tags-" + threadId }
        hx-swap="beforeend"
    >
        <label class="tag-editor-label">Select existing:</label>
        <div class="existing-tags-container">
            for _, tag := range paramsList {
                <p
                    hx-post={ "/thread/" + threadId + "/tag/" + tag.Id }
                    hx-target={ "#tags-" + threadId }
                    hx-swap="beforeend"
                    class={ "tag", tagStyle(tag.Color) }
                >
                    { tag.Value }
                </p>
            }
        </div>

        <label class="tag-editor-label">Create new tag:</label>
        <div class="add-tag-input-row">
            <input
                class="tag-value-input"
                type="text"
                placeholder="Enter tag name..."
                name="value"
                autofocus
            ></input>
            <input
                class="tag-color-input"
                type="color"
                placeholder="Enter tag name..."
                name="color"
                value="#77767b"
            ></input>
        </div>

        <div class="tag-editor-buttons">
            <button
                _="on click halt the event remove #new-tag-editor"
                id="cancel-button"
                class="cancel-tag-button"
            >
                Cancel
            </button>
            <button type="submit" id="send-button" class="add-tag-button">Create tag</button>
        </div>
    </form>
}
